footer {
  background-color: #444;
  color: white;
  text-align: center;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer p,
footer a {
  margin: 0 10px;
  text-decoration: none;
}
