@import url("https://fonts.cdnfonts.com/css/alarm-clock");

body {
  display: flex;
  justify-content: center;
}

.box {
  border: 5px solid black;
  border-radius: 30px;
  padding: 15px;
  text-align: center;
  margin: 30px;
}

.stopw,
.timeDisplay {
  margin-bottom: 30px;
}

.stopw {
  text-align: center;
  padding: 10px;
  border: 2px solid black;
  border-radius: 30px;
}

.stopw button {
  margin: 30px 0;
  font-size: 25px;
}

#hm {
  font-size: 150px;
  font-family: "alarm clock", sans-serif;
}

#second {
  font-size: 100px;
  font-family: "alarm clock", sans-serif;
}

.data {
  font-size: 50px;
  font-family: monospace;
}

#meas {
  width: 100%;
  font-size: 100px;
  font-family: "alarm clock", sans-serif;
}
